:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

body{
    background-color: aliceblue;
}

.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    max-width: 1458px;
    height: 50px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    margin-bottom: 5px;
}

.search-form input{
    display: block;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    width: 480px;
    height: 24px;
   

}

.search-form button{
    display: block;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    width: 60px;
    height: 28px;
    cursor: pointer;
    background-color: #fff;
   
}
.search-form button:hover{
background-color: lightskyblue;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form button:focus {
    background-color: lightskyblue;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.gallery {
    display: flex;
    max-width: 1520px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
    gap: 3px;
   
}


.photo-card{
    display: flex;
    flex-direction: column;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    overflow: hidden;
}
.photo-card:hover {
box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
transform: scale(1.01);
}
.photo-card:focus {
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

/* .gallery__image:hover {
    transform: scale(1.01);
}
.gallery__image:focus {
    transform: scale(1.01);
} */
.gallery__image {
    width: 360px;
    height: 200px;
   
    object-fit: cover;
    /* transition: transform var(--animation-duration) var(--timing-function); */

}

.gallery__link {
    display: block;
    text-decoration: none;
    overflow: hidden;
}

.gallery__link:hover {
    cursor: zoom-in;
}


.info{
    display: flex;
    justify-content: space-around;
    height: 56px;


}
.info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.data-wrapper{
    text-align: center;
}


